html {
    box-sizing: border-box;
    font-size: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Onest', sans-serif;
    line-height: 1.3;
}

*, * ::before, *::after {
    box-sizing: inherit;
}

.top-container {
    background-color: rgb(53, 224, 237);
}

.top-img {
    text-align: right;
    margin-right: 15rem;


}

.Welcome {
    text-align: center;

}

.middle-img {
    text-align: right;
    margin-right: 20rem;
}


h1 {
    margin-top: 0;
    font-size: 4rem;
    margin-bottom: 0.3rem;
}

h2 {
 padding: 0;
}


.profile-foto { 
    border-radius: 50%;
    margin-top: 3rem;
    
}

.bottom-img {
    
}